{% extends 'users/base.html' %}
{% block title %}Job Compass | Applicant Profile {% endblock %}
{% load static %}

{% block content %}
        <div aria-label="breadcrumb" class="custombreadcrumb container bg-light p-4 mb-3 shadow-sm">
            <ol class="breadcrumb mb-0 d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="text-decoration-none text-dark text-muted">Dashboard</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">Profile</li>
            </ol>
        </div>
    {% if not request.user.has_resume %}
        <div class="custombreadcrumb container alert alert-danger mt-3 p-4" role="alert" style="margin-bottom: 50vh;">
            Register your resume first. <a href="{% url 'create-resume' %}" class="text-decoration-none">Register Resume</a>
        </div>
    {% else %}
        <div class="container applicantProfile-card bg-white">
            <div class="p-5">
                <h2 class="mb-5">Applicant Profile</h2>
                <div class="profile-header row d-flex align-items-center justify-content-between">
                    <div class="col-md-12 col-lg-2">
                        <img src="{{user.avatar.url}}" alt="Profile Image" class="profile-image bg-light">
                    </div>
                    <div class="col-md-12 col-lg-5 mb-3">
                        <h1 class="mb-2 text-white">{{user.resume.first_name|title}} {{user.resume.middle_name|title}} {{user.resume.last_name|title}}  {{user.resume.suffix|title}}</h1>
                        <p class="text-white mt-0">
                            <i class="fas fa-map-marker-alt me-2"></i>
                            {{user.resume.address.barangay}}, {{user.resume.address.city}}
                        </p>
                        <span class="skillbadge fw-bold">Status: {{user.resume.employment_job_type}}</span>
                    </div>


                    <div class="col-md-12 col-lg-4 d-flex justify-content-center gap-3">
                        <a href="{% url 'create-resume' %}" class="btn btn-outline-light customButton px-3">
                            <i class="fas fa-edit me-2"></i>Edit Profile
                        </a>
                        {% if user.resume.upload_resume %}
                            <a href="{{ resume_file.url }}" class="btn btn-light customButton px-3" target="_blank">
                                <i class="fa-regular fa-file-pdf"></i> View Resume
                            </a>
                        {% else %}
                            <a href="{% url 'create-resume' %}" class="btn btn-primary customButton px-3">Upload Resume</a>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h4>About Me</h4>
                            <p>{{user.resume.about_me}}</p>
                        </div>

                        <div class="mb-4">
                            <h4>Skills</h4>
                            <div>
                                {% for skill in user.resume.skills.all %}
                                    <span class="skill-badge">{{skill.name}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-6 mb-4">
                                <h4>Experience</h4>
                                {% for experience in user.resume.experiences.all %}
                                    <p class="card-text">
                                        <strong>{{experience.title}}</strong> <br>
                                        {{experience.company}} <br>
                                        {{experience.start_date}} - {{experience.end_date}} <br>
                                        <ul>
                                            <li>{{experience.description}}</li>
                                        </ul>
                                    </p>
                                {% empty %}
                                    <p class="card-text">No Experience details available.</p>
                                {% endfor %}
                            </div>

                            

                            <div class="col-md-6 mb-4">
                                <h4>Education</h4>
                                {% for education in user.resume.education.all %}
                                    <p class="card-text">
                                        <strong>{{ education.degree }}</strong> <br>
                                        {{ education.institution }} <br>
                                        Graduated: {{ education.graduation_year }}
                                    </p>
                                {% empty %}
                                    <p class="card-text">No education details available.</p>
                                {% endfor %}
                            </div>

                            
                            
                            <div class="col-md-6 mt-5 mb-4">
                                <h4>Certifications</h4>
                                {% for certificate in user.resume.certifications.all %}
                                    <ul>
                                        <li>{{ certificate.name }}</li>
                                    </ul>
                                {% empty %}
                                    <p class="card-text">No certification details available.</p>
                                {% endfor %}
                            </div>

                            <div class="col-md-6 mt-5 mb-4">
                                <h4>Project</h4>
                                {% for project in user.resume.projects.all %}
                                    <p class="card-text">
                                        <strong>{{ project.title }}</strong>
                                        <br> 
                                        <small>{{ project.url }}</small>
                                        <br>
                                        <ul>
                                            <li>{{project.description}}</li>
                                        </ul>
                                        
                                    </p>
                                {% empty %}
                                    <p class="card-text">No project details available.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="stats-card mb-3">
                            <h5>Contact Information</h5>
                            <div class="contact-info mb-2">
                                <i class="fas fa-phone me-2"></i>
                                <span>{{user.phone}}</span>
                            </div>
                            <div class="contact-info mb-2">
                                <i class="fas fa-envelope me-2"></i>
                                <span>{{user.email}}</span>
                            </div>
                        </div>
                        
                        <div class="stats-card">
                            <h5>Social Links</h5>
                            {% for social in user.resume.social_links.all %}
                                <p class="card-text">
                                    <strong>{{ social.platform }}</strong>
                                    <br> 
                                    <small>{{ social.url }}</small>
                                    <br>
                                </p>
                            {% empty %}
                                <p class="card-text">No Socials details available.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}