{% extends 'users/base.html' %}
{% block title %}Job Compass | Update Job{% endblock %}
{% load widget_tweaks %}

{% block content %}
    <div aria-label="breadcrumb" class="custombreadcrumb container bg-light p-4 mb-4 shadow-sm">
        <ol class="breadcrumb mb-0 d-flex justify-content-end">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="text-decoration-none text-dark text-muted">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}" class="text-decoration-none text-dark text-muted">Manage Job</a></li>
            <li class="breadcrumb-item active text-dark" aria-current="page">Update Job</li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <h4 class="mt-4 mb-4 col-lg-2"><a href="{{request.META.HTTP_REFERER}}" class="text-decoration-none text-dark"><i class="fa-solid fa-chevron-left"></i> Back</a></h4>
            <form class="col-lg-10 card p-5 mb-5" method="POST">
                {% csrf_token %}
                <h1 class="mb-4">Update Job</h1>
                <hr>
                <h4 for="employerSocials" class="form-label mb-3">Job Information</h4>

                <div class="mb-3">
                    <label for="jotitle" class="form-label">Job Title</label>
                    {% render_field form.title class="form-control" %}
                </div>
                <div class="mb-3">
                    <label for="jobIndustry" class="form-label">Company's Industry</label>
                    <input type="text" disabled class="form-control" name="" id="" placeholder="{{user.company.industry}}">
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="employment_job_type" class="form-label">Employement Type</label>
                        {% render_field form.employment_job_type class="form-select" %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="location_job_type" class="form-label">Job Type</label>
                        {% render_field form.location_job_type class="form-select" %}
                    </div>

                    <div class="col-sm-7 mb-3">
                        <label for="salaryRange" class="form-label">Salary Range</label>
                        <div class="input-group">
                            <span class="input-group-text">₱</span>
                            {% render_field form.salary_min class="form-control" placeholder="Min" %}
                            <span class="input-group-text">to</span>
                            {% render_field form.salary_max class="form-control" placeholder="Max" %}
                        </div>
                    </div>
                    <div class="col-sm-5 mb-3">
                        <label for="salary_mode" class="form-label">Salary Mode</label>
                        {% render_field form.salary_mode class="form-select" %}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="jobdescription" class="form-label">Job Description</label>
                    {% render_field form.job_description class="form-control" rows="4" %}
                </div>
                <div class="mb-3">
                    <label for="jobidealcandidate" class="form-label">Ideal Candidate</label>
                    {% render_field form.ideal_candidate class="form-control" rows="4" %}
                </div>

                <!-- Responsibilities Section -->
                <div class="mb-3">
                    <div class="text-white d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0 text-dark">
                            Job Responsibilities
                            <small class="text-danger ms-2">(Minimum 1 responsibility required)</small>
                            <br>
                            <small class="text-danger fw-bold">"Only 3 responsibilities can be added or updated at a time. You can add another responsibility during your next update."</small>
                        </label>
                    </div>
                    <div id="responsibilities-container">
                        {{ responsibility_formset.management_form }}
                        {% for form in responsibility_formset %}
                            <div class="responsibility-form row align-items-center mb-2">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.res_name }}
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Skills Formset -->
                <div class="mb-4">
                    <div class="text-white d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0 text-dark">
                            Required Skills
                            <small class="text-danger ms-2">(Minimum 1 skill required) Maximum of 10 skills</small>
                            <br>
                            <small class="text-danger fw-bold">"Only 3 skills can be added or updated at a time. You can add another skill during your next update."</small>
                        </label>
                    </div>
                    <div id="skills-container">
                        {{ skill_formset.management_form }}
                        {% for form in skill_formset %}
                            <div class="skill-form row align-items-center">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.skill_name }}
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Experience Section -->
                <div class="mb-3">
                    <div class="text-white d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0 text-dark">
                            Job Experience
                            <small class="text-danger ms-2">(Minimum 1 experience required) Maximum of 3 Experiences</small>
                            <br>
                            <small class="text-danger fw-bold">"Only 2 experiences can be added or updated at a time. You can add another experience during your next update."</small>
                        </label>
                    </div>
                    <div id="experiences-container">
                        {{ experience_formset.management_form }}
                        {% for form in experience_formset %}
                            <div class="experience-form row align-items-center mb-2">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.exp_name }}
                                        {{ form.exp_years }}
                                        {{ form.exp_description }}
                                    </p>
                                    
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                
                <div class="row">
                    <h4 for="employerAddress" class="form-label mb-3">International Location Venue</h4>
                    <div class="col-sm-6 mb-3">
                        <label for="country-text" class="form-label">Country</label>
                        {% render_field address_form.country class="form-control form-control-md" id="country-text" placeholder="Enter Country"%}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="countrycity-text" class="form-label">City</label>
                        {% render_field address_form.countrycity class="form-control form-control-md" id="countrycity-text" placeholder="Enter City/Municipality"%}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="countrypostal-text" class="form-label">Postal Code</label>
                        {% render_field address_form.countrypostal class="form-control form-control-md" id="countrypostal-text" placeholder="Enter Postal Code"%}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="countrystreet-text" class="form-label">Street (Optional)</label>
                        {% render_field address_form.countrystreet class="form-control form-control-md" id="countrystreet-text" placeholder="Enter Street"%}
                    </div>

                    <hr>

                    <h4 for="employerAddress" class="form-label mb-3">Job Location</h4>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Region *</label>
                        <select name="region" class="form-control form-control-md mb-2" id="region"></select>
                        {% render_field address_form.region class="form-control form-control-md" name="region_text" id="region-text" placeholder="Enter Region" %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Province *</label>
                        <select name="province" class="form-control form-control-md mb-2" id="province"></select>
                        {% render_field address_form.province class="form-control form-control-md" name="province_text" id="province-text" placeholder="Enter Province"  %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">City / Municipality *</label>
                        <select name="city" class="form-control form-control-md mb-2" id="city"></select>
                        {% render_field address_form.city class="form-control form-control-md" name="city_text" id="city-text" placeholder="Enter City/Municipality" %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Barangay *</label>
                        <select name="barangay" class="form-control form-control-md mb-2" id="barangay"></select>
                        {% render_field address_form.barangay class="form-control form-control-md" name="barangay_text" id="barangay-text" placeholder="Enter Barangay" %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="street-text" class="form-label">Street (Optional)</label>
                        {% render_field address_form.street class="form-control form-control-md" id="street-text" placeholder="Enter Street" %}
                    </div>
                </div>
                
                <!-- Submit Button -->
                <div class="mt-4 d-flex justify-content-end gap-2">
                    <a href="{% url 'manage-jobs' %}" class="customButton btn btn-outline-danger py-3 px-5">
                        <i class="fa-solid fa-times me-3"></i> Cancel
                    </a>
                    <button type="submit" class="customButton btn btn-primary py-3 px-5">
                        <i class="fa-solid fa-save me-3"></i> Update
                    </button>
                </div>
            </form>
            
        </div>
    </div>
{% endblock content %}
