{% extends 'admin/admin.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 py-3 px-md-4">
        <!-- Dashboard Header -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Admin Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Job</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Manage Users</button>
                </div>
            </div>
        </div>
    
        <!-- Metrics Section -->
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Applicants</h5>
                        <p class="card-text fs-4">{{ total_applicants }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Company</h5>
                        <p class="card-text fs-4">{{ total_companies }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Applications</h5>
                        <p class="card-text fs-4">{{ total_applications }}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Chart Section -->
        <canvas class="bg-white p-4 my-4 w-100" id="myChart" width="900" height="380"></canvas>
    
    </main>

{% endblock content %}