<footer class="bg-white ms-sm-auto col-lg-9 col-xl-10 py-3 footer py-4 px-2">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="fw-bold fs-5 logoName text-decoration-none brand text-dark" href="{% url 'admin-dashboard' %}">Job Compass</a>
                </p>
            </div>
            <div class="col-6 text-end">
                &copy; <span id="currentYear"></span> Job Compass. All rights reserved.
            </div>
        </div>
    </div>
</footer>

<script>
    // Get the current year and set it in the footer
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>