{% extends 'admin/admin.html' %}
{% block title %}Job Compass | Admin Dashboard {% endblock %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 py-3 px-md-4">
        <!-- Dashboard Header -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Admin Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a href="{% url 'admin-verification' %}" type="button" class="btn btn-sm btn-outline-secondary">Verify Companies</a>
                </div>
            </div>
        </div>
    
        <!-- Metrics Section -->
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Applicants</h5>
                        <p class="card-text fs-1">{{ total_applicants }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Company</h5>
                        <p class="card-text fs-1">{{ total_companies }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Applications</h5>
                        <p class="card-text fs-1">{{ total_applications }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'admin-employers' %}" type="button" class="btn btn-sm btn-outline-secondary">Manage Employers</a>
                <a href="{% url 'admin-applicants' %}" type="button" class="btn btn-sm btn-outline-secondary">Manage Applicants</a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card text-dark bg-white mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Users Active</h5>
                        <p class="card-text fs-1">{{ total_users_active }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-dark bg-white mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Users Deactive</h5>
                        <p class="card-text fs-1">{{ total_users_inactive }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'admin-manage-jobs' %}" type="button" class="btn btn-sm btn-outline-secondary">Manage Jobs</a>
                <a href="{% url 'admin-manage-jobfairs' %}" type="button" class="btn btn-sm btn-outline-secondary">Manage Job Fairs</a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card text-dark bg-white mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Jobs Open</h5>
                        <p class="card-text fs-1">{{ jobs_open  }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-dark bg-white mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Jobs Closed</h5>
                        <p class="card-text fs-1">{{ jobs_closed  }}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Chart Section -->
        <!-- <canvas class="bg-white p-4 my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
        
    </main>

    
{% endblock content %}