{% extends 'admin/admin.html' %}
{% load widget_tweaks %}


{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 py-3 px-md-4">
        <div class="d-flex align-items-center">
            <section class="employerbanner w-100  h-100 p-5 bg-light mb-4">
                <h1 class="hero-heading">User Profile</h1>
            </section>
        </div>

        <div class="container mb-5">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="card p-5 mb-5" method="POST" >
                <div class="col-md-12 col-lg-5 mb-3">
                    Name: <h1 class="mb-3 text-dark">{{user.username|title}}</h1>
                </div>
                
                <hr>

                <form method="POST" class="mt-4 row">
                    {% csrf_token %}
                    <h4 class="col-md-6">Change Password</h4>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {% render_field form.old_password class="form-control" placeholder="Enter your current password" %}
                        </div>
                        <div class="mb-3">
                            {% render_field form.new_password1 class="form-control" placeholder="Enter your new password" %}
                        </div>
                        <div class="mb-3">
                            {% render_field form.new_password2 class="form-control" placeholder="Confirm your new password" %}
                        </div>
                    </div>
                    
                    <div class="mt-4 d-flex justify-content-end gap-2">
                        <button type="submit" class="customButton btn btn-danger py-2 px-2">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-4">
            <div class="d-flex align-items-center gap-2">
                <img src="{{user.avatar.url}}" alt="" width="100" height="100" class="rounded-circle">
                <h1 class="hero-heading">{{user.username|title}}</h1>
            </div>
        </div>
    </main>
{% endblock content %}
