{% extends 'admin/admin.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 py-3 px-md-4">
        <div class="d-flex align-items-center">
            <section class="employerbanner w-100  h-100 p-5 bg-light mb-4">
                <h1 class="hero-heading">Applicants Management</h1>
            </section>
        </div>

        <div class="p-4">
            <h3 class="fw-bold text-dark mb-4">Manage Applicants</h3>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="h6 fw-semibold mb-2">Total Job Seekers</h3>
                            <p class="display-6 fw-bold" id="totalJobSeekers">17</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="h6 fw-semibold mb-2">Total Employers</h3>
                            <p class="display-6 fw-bold" id="totalEmployers">4</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3 class="h6 fw-semibold mb-2">Total Job Postings</h3>
                            <p class="display-6 fw-bold" id="totalJobPostings">21</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
