{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container-container custom-container mb-5">
        <div aria-label="breadcrumb" class="custombreadcrumb bg-light p-4 mb-3 shadow-sm">
            <ol class="breadcrumb mb-0 d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="text-decoration-none text-dark text-muted">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'manage-jobs' %}" class="text-decoration-none text-dark text-muted">Manage Jobs</a></li>
                <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}" class="text-decoration-none text-dark text-muted">View Application</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">Update Status Application</li>
            </ol>
        </div>
        <div class="container">
            <div class="row">
                <h4 class="mt-4 mb-4 col-lg-2"><a href="{{request.META.HTTP_REFERER}}" class="text-decoration-none text-dark"><i class="fa-solid fa-chevron-left"></i> Back</a></h4>
                <form class="col-lg-10 card p-5 mb-5" method="POST">
                    {% csrf_token %}
                    <h1 class="mb-4">Applicant Application Status</h1>
                    <br>
                    <h3>for {{application.user.resume.last_name|title}}, {{application.user.resume.first_name|title}}</h3>
                    <hr>
                    <div class="mb-3">
                        <label for="applicationstatus" class="form-label">Application Status</label>
                        {% render_field form.status class="form-select" %}
                    </div>
                    <!-- Submit Button -->
                    <div class="mt-4 d-flex justify-content-end gap-2">
                        <a href="{% url 'manage-jobs' %}" class="customButton btn btn-outline-danger py-3 px-5">
                            <i class="fa-solid fa-times me-3"></i> Cancel
                        </a>
                        <button type="submit" class="customButton btn btn-primary py-3 px-5">
                            <i class="fa-solid fa-save me-3"></i> Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}