{% extends 'users/base.html' %}
{% block title %}Job Compass | Company Info {% endblock %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if form_errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <h4 class="mt-4 mb-4 col-lg-2"><a href="{% url 'dashboard' %}" class="text-decoration-none text-dark"><i class="fa-solid fa-chevron-left"></i> Back</a></h4>
            <form class="col-lg-10 card p-5 mb-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="mb-4">Register your Company</h1> 

                <h4 for="employerSocials" class="form-label mb-3">Company Information</h4>
                <div class="text-center">
                    <label for="userAvatar" class="form-label fw-bold">Company Logo</label>
                    {% if form.avatar.value %}
                        <div class="mb-2">
                            <img src="{{form.avatar.value.url}}" alt="Current logo" class="img-fluid rounded-circle" style="height: 150px; width: 150px;">
                        </div>
                    {% endif %}
                    <input type="file" id="image" name="avatar" class="form-control" accept="image/*">
                </div>

                <hr>

                <!-- Company Name -->
                <div class="mb-3">
                    <label for="companyName" class="form-label">Company Name <span class="text-danger">*</spanc></label>
                    {% render_field form.company_name class="form-control" placeholder="Enter Company Name" required=True %}
                </div>

                <div class="row mb-3">
                    <div class="col-6 mb-3">
                        <label for="companyEmail" class="form-label">Company Email <span class="text-danger">*</spanc></label>
                        {% render_field form.email class="form-control" placeholder="Enter Company Email" required=True %}
                    </div>
                    <div class="col-6 mb-3">
                        <label for="companyPhone" class="form-label">Company Phone <span class="text-danger">*</spanc></label>
                        {% render_field form.phone class="form-control" placeholder="Phone or Landline" required=True %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mb-3 d-flex flex-column justify-content-end">
                        <label for="industry" class="form-label">Select Company Industry <span class="text-danger">*</spanc></label>
                        <select class="form-control" name="industry" id="industry">
                            <option value="" disabled selected>Select Industry</option>
                            {% for choice in form.industry.field.choices %}
                                <option value="{{ choice.0 }}" {% if form.industry.value == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="dateFounded" class="form-label">Company Establish Date <span class="text-danger">*</spanc></label>
                        {% render_field form.dateFounded class="form-control" type="date" max=today required=True%}
                    </div>

                    <div class="col-6 mb-4">
                        <label for="employees" class="form-label">Number of Employees</label>
                        {% render_field form.employee_count class="form-control" placeholder="e.g. 0000" %}
                    </div>
                    <!-- Website -->
                    <div class="col-6 mb-3">
                        <label for="website" class="form-label">Company Website</label>
                        {% render_field form.website_url class="form-control" placeholder="https://www.example.com" %}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="jobDescription" class="form-label">About Company</label>
                    {% render_field form.about_us class="form-control" rows="5" placeholder="Enter about company" required=True %}
                </div>

                <hr>

                <!-- Location -->
                <div class="row">
                    <h4 for="employerAddress" class="form-label mb-3">Company Address</h4>
                    <div class="col-sm-6 mb-3">
                        <label for="country-text" class="form-label">Country <span class="text-danger">*</span></label>
                        {% render_field address_form.country class="form-control form-control-md" id="country-text" placeholder="Select country" required=True %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="countrypostal-text" class="form-label">Postal Code <span class="text-danger">*</span></label>
                        {% render_field address_form.countrypostal class="form-control form-control-md" id="countrypostal-text" placeholder="Enter your postal code" required=True %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="region-text" class="form-label">Region <span class="text-danger">*</span></label>
                        {% render_field address_form.region class="form-control form-control-md" id="region-text" placeholder="Enter your state/province/region" required=True %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="city-text" class="form-label">City <span class="text-danger">*</span></label>
                        {% render_field address_form.city class="form-control form-control-md" id="city-text" placeholder="Enter your city" required=True %}
                    </div>
                    
                    <div class="mb-3">
                        <label for="street-text" class="form-label">Street <span class="text-muted">(Optional)</span></label>
                        {% render_field address_form.street class="form-control form-control-md" placeholder="Street address" id="street-text" %}
                    </div>
                </div>

                <hr>
                
                <!-- Social Media Links -->
                <h4 for="employerSocials" class="form-label mb-3">Socials <span class="text-muted">(Optional)</span></h4>
                <div class="mb-3">
                    <label for="facebook" class="form-label">Facebook</label>
                    {% render_field form.facebook class="form-control" placeholder="URL (e.g., https://facebook.com)" %}
                </div>
                <div class="mb-3">
                    <label for="twitter" class="form-label">Twitter</label>
                    {% render_field form.twitter class="form-control" placeholder="URL (e.g., https://twitter.com)" %}
                </div>
                <div class="mb-3">
                    <label for="github" class="form-label">Instagram</label>
                    {% render_field form.github class="form-control" placeholder="URL (e.g., https://instagram.com)" %}
                </div>

                <hr>

                <h4 for="employerAddress" class="form-label mb-3">Operational Information</h4>

                <div class="card-body alert-warning mb-3">
                    <small class="text-danger fw-bold mb-3">
                    "To verify your company and gain permission to post jobs or organize job fairs, please ensure you provide all required documents."
                    </small>
                </div>
                <div class="mb-3">
                    <label for="tinNumber" class="form-label">TIN Number <span class="text-danger">*</spanc></label>
                    {% render_field form.tin_number class="form-control" placeholder="123-456-789-000"%}
                </div>
                <div class="mb-3">
                    <label for="birfile" class="form-label">BIR Certificate of Registration (Docx, PDF)<span class="text-danger">*</spanc></label>
                    {% render_field form.bir_file class="form-control" %}
                </div>  
                <div class="mb-3">
                    <label for="dti_file" class="form-label">DTI Certificate of Registration <span class="text-danger">*</spanc></label>
                    {% render_field form.dti_file class="form-control" %}
                </div>

                <hr>
                
                <!-- Submit Button -->
                <div class="mt-4">
                    <button type="submit" class="btn btn-secondary w-100 p-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}

