<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Compass</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.5.1/css/all.min.css' %}">
    <link rel="icon" href="{% static 'images/icons8-compass-64.png' %}"/>
    <script src="{% static 'JS/jquery-3.7.1.js' %}"></script>
</head>

<body>
    {% include 'navbar.html' %}
    
    {% include 'users/home.html' %}

    {% block content %}

    {% endblock content %}
    
    {% include 'footer.html' %}