<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Job Compass{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.5.1/css/all.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    
    <link rel="icon" href="{% static 'images/icons8-compass-64white.png' %}">

    
    <!-- for location purposes -->
    <script src="{% static 'JS/jquery.min.js' %}"></script>
    <script src="{% static 'JS/ph-address-selector.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    {% block extra_head %}
    {% endblock %}
    <script src="{% static 'JS/jquery-3.7.1.js' %}"></script>

    <!-- Add SweetAlert2 script -->
    <script src="{% static 'JS/sweetalert2@11.js' %}"></script>
</head>
<body>

    {% include 'navbar.html' %}
    
    <div {% if request.resolver_match.view_name != 'jobfair' %}style="margin-top: 100px;"{% endif %}>
        {% block content %}

        {% endblock content %} 
    </div>
    
    
    {% include 'footer.html' %}

    <button id="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-chevron-up"></i></button>
    <!-- SCRIPTS -->
    {% block scripts %}
       
    {% endblock %}
   
    <!-- main script js -->
    {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                {% for message in messages %}
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: '{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 5000,
                    timerProgressBar: true,
                    background: '{% if message.tags == 'success' %}#28a745{% elif message.tags == 'error' %}#dc3545{% elif message.tags == 'warning' %}#ffc107{% else %}#17a2b8{% endif %}',
                    color: '#ffffff',
                    customClass: {
                        popup: 'colored-toast' // Custom class for extra styling if needed
                    }
                });
                {% endfor %}
            });
        </script>
    {% endif %}
    
    <script src="{% static 'JS/index.js' %}"></script>
    
</body>
</html>