{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div>
        <!-- Banner -->
        <div class="banner2 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <h1 class="display-4 fw-bold mb-3">Connect With Top Companies</h1>
                        <p class="lead mb-4">Attend our job fairs to network with leading employers and find your dream job. Register now for upcoming events!</p>
                        <a href="{% url 'all-job-fair' %}" class="btn btn-light btn-lg">View All Events</a>
                    </div>
                    <div class="col-md-5 text-center">
                        <img src="{% static 'images/undraw_connected_world_wuay.svg' %}" class="img-fluid rounded" width="600px" height="400px" alt="Job Fair Header">
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="container mb-5">
            <!-- Featured Event -->
            <div class="row mb-5">
                {% for jobfair in jobfairs %}
                    {% if jobfair.is_featured %}
                        <div class="col-12 mb-3">
                            <div class="card event-card">
                                <!-- Featured Badge -->
                                <span class="featured-badge p-3">
                                    <span class="badge bg-warning text-dark">Featured Event</span>
                                </span>

                                <!-- Event Card Body -->
                                <div class="card-body p-5">
                                    <div class="row align-items-center">
                                        <!-- Image & Countdown Timer -->
                                        <div class="col-md-3 text-center">
                                            <img src="{{jobfair.image.url}}" alt="featuredJobFair" class="img-fluid rounded mb-3">
                                        </div>

                                        <!-- Event Details -->
                                        <div class="col-md-6">
                                            <a href="{% url 'job-fair-info' jobfair.pk %}" class="text-decoration-none text-dark">
                                                <h2 class="mb-2">{{jobfair.title}}</h2>
                                            </a>
                                            <p class="text-muted mb-3">
                                                <i class="fas fa-calendar-alt me-2"></i> {{jobfair.start_date|date:'F d, Y'}}
                                                <i class="fas fa-clock ms-3 me-2"></i> {{ jobfair.start_date|date:'h:i A'  }} - {{ jobfair.end_date|date:'h:i A'  }}
                                                <i class="fas fa-map-marker-alt ms-3 me-2"></i> {{ jobfair.location.street }}, {{ jobfair.location.city }}
                                            </p>
                                            <p class="mb-3">{{ jobfair.description|slice:":150" }}...</p>
                                        </div>

                                        <!-- Register Now Button -->
                                        <div class="col-md-3 text-center text-md-end">
                                            <a href="{% url 'jobfair_register' jobfair.pk %}" class="customButton btn btn-outline-primary btn-lg mb-2 w-100">Register Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Upcoming Events -->
            <div class="d-flex justify-content-start gap-5 align-items-center mb-4">
                <h3 class="mb-0">Upcoming Job Fairs</h3>
                <a href="{% url 'all-job-fair' %}" class="text-decoration-none text-dark">See All Job Fairs <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="row g-4">
                {% for jobfair in jobfairs|slice:":3" %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card event-card h-100">
                            <img src="{{jobfair.image.url}}" alt="Tech Career Fair" class="img-fluid mb-3" style="border-radius: 1.5rem 1.5rem 0 0;">
                            <div class="card-body">
                                <h4 class="card-title">{{ jobfair.title }}</h4>
                                <p class="text-muted mb-3">
                                    <i class="fas fa-calendar-alt me-2"></i> {{ jobfair.start_date|date:'F d, Y' }} - {{ jobfair.end_date|date:'F d, Y'}}
                                    <br>
                                    <i class="fas fa-clock me-2"></i> {{ jobfair.start_date|date:'h:i A'  }} - {{ jobfair.end_date|date:'h:i A'  }}
                                    <br>
                                    <i class="fas fa-map-marker-alt me-2"></i> {{ jobfair.location.street }}, {{ jobfair.location.city }}
                                </p>
                                <p class="card-text">{{ jobfair.description|slice:":100" }}...</p>
                            </div>
                            <div class="up-event-card-footer bg-white p-4">
                                <a href="{% url 'jobfair_register' jobfair.pk %}" class="customButton btn btn-outline-primary w-100">Register</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <section class="about-section">
            <div class="container text-center py-5">
                <div class="mb-5">
                    <h1>Why Attend Our Job Fairs?</h1>
                </div>
                
                
                <div class="row g-4">
                    <div class="col-12 col-md-4">
                        <div class="card card-hover py-5 h-100 text-center">
                            <div class="card-body">
                                <i class="fas fa-handshake fa-3x mb-3" style="font-size: 5rem;"></i>
                                <h4 class="card-title fs-4 fw-bold mb-3">Direct Networking</h4>
                                <p class="card-text text-muted">Meet recruiters face-to-face and make lasting impressions that online applications can't match.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-hover py-5 h-100 text-center">
                            <div class="card-body">
                                <i class="fas fa-lightbulb fa-3x mb-3" style="font-size: 5rem;"></i>
                                <h4 class="card-title fs-4 fw-bold mb-3">Industry Insights</h4>
                                <p class="card-text text-muted">Learn about industry trends and requirements directly from company representatives.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card card-hover py-5 h-100 text-center">
                            <div class="card-body">
                                <i class="fas fa-rocket fa-3x mb-3" style="font-size: 5rem;"></i>
                                <h4 class="card-title fs-4 fw-bold mb-3">Instant Opportunities</h4>
                                <p class="card-text text-muted">Get interviewed on the spot and receive immediate feedback on your applications.</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </div>

{% endblock content %}