{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
    <div class="container">
        {% if form_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <ul class="mb-0">
                    {% for error in form_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="row">
            <h4 class="mt-4 mb-4 col-lg-2"><a href="{% url 'dashboard' %}" class="text-decoration-none text-dark"><i class="fa-solid fa-chevron-left"></i> Back</a></h4>
            <form class="col-lg-10 card p-5 mb-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="mb-4">Register your Resume</h1>

                <h4 for="employerSocials" class="form-label mb-3">Personal Information</h4>
                <div class="row">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        {% if form.avatar.value %}
                            <div class="mb-2 row">
                                <img src="{{ form.avatar.value.url }}" alt="Current Avatar" class="img-fluid rounded-circle" style="max-width: 150px; max-height: 150px;">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-9 mb-3 bg-light p-3">
                        <label for="userAvatar" class="form-label fw-bold">User Avatar</label>
                        {% render_field avatar_phone_form.avatar class="form-control" id="userAvatar" %}
                    </div>
                </div>
                
                <h4 for="applicantResume" class="form-label mb-3">Document Resume</h4>
                <div class="mb-3 bg-light p-3">
                    <label for="resumePDF" class="form-label fw-bold">Upload Resume (pdf) *</label>
                    {% render_field form.upload_resume class="form-control" id="resumePDF" %}
                </div>

                <div class="row">
                    <div class="mb-3 col-lg-4 col-md-6 col-sm-6">
                        <label for="resumeName" class="form-label">First Name *</label>
                        {% render_field form.first_name class="form-control" required=True %}
                        <!-- <input type="text" class="form-control" id="resumeName" placeholder="Enter resume name" required> -->
                    </div>
                    <div class="mb-3 col-lg-3 col-md-6 col-sm-6">
                        <label for="resumeName" class="form-label">Middle Name *</label>
                        {% render_field form.middle_name class="form-control" required=True %}
                        <!-- <input type="text" class="form-control" id="resumeName" placeholder="Enter resume name" required> -->
                    </div>
                    <div class="mb-3 col-lg-3 col-md-6 col-sm-6">
                        <label for="resumeName" class="form-label">Last Name *</label>
                        {% render_field form.last_name class="form-control" required=True %}
                        <!-- <input type="text" class="form-control" id="resumeName" placeholder="Enter resume name" required> -->
                    </div>
                    <div class="mb-3 col-lg-2 col-md-6 col-sm-6">
                        <label for="resumeName" class="form-label">Suffix *</label>
                        {% render_field form.suffix class="form-control" placeholder="Jr., Sr., I, II, III, IV" %}
                        <!-- <input type="text" class="form-control" id="resumeName" placeholder="Enter resume name" required> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label for="industry" class="form-label">Industry</label>
                        {% render_field form.industry class="form-control" required=True %}
                    </div>

                    <div class="col-sm-4 mb-3">
                        <label for="employment_job_type" class="form-label">Employment Status</label>
                        {% render_field form.employment_job_type  class="form-control" required=True %}
                    </div>

                    <div class="col-sm-4 mb-3">
                        <label for="location_job_type" class="form-label">Job Status</label>
                        {% render_field form.location_job_type class="form-control" required=True %}
                    </div>

                    <div class="col-sm-4 mb-3">
                        <label for="location_job_type" class="form-label">Phone</label>
                        {% render_field avatar_phone_form.phone class="form-control" required=True %}
                    </div>

                    <div class="col-sm-8 mb-3">
                        <label for="salaryRange" class="form-label">Expected Salary Range</label>
                        <div class="input-group">
                            <span class="input-group-text">₱</span>
                            {% render_field form.expt_salary_min class="form-control" placeholder="Min" %}
                            <span class="input-group-text">to</span>
                            {% render_field form.expt_salary_max class="form-control" placeholder="Max" %}
                        </div>
                    </div>
                </div>
                

                <div class="mb-3">
                    <label for="about-us" class="form-label">About Me</label>
                    {% render_field form.about_me|attr:"rows:3" class="form-control" %}
                </div>

                <hr>

                <!-- Skills Section -->
                <div class="mb-3">
                    <div class="text-white d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0 text-dark">
                            Skills
                            <small class="text-danger ms-2">(Minimum 1 skill required)</small>
                            <br>
                            <small class="text-danger fw-bold">"Only 3 skills can be added or updated at a time. You can add another skill during your next update."</small>
                        </label>
                    </div>
                    <div id="skills-container">
                        {{ skill_formset.management_form }}
                        {% for form in skill_formset %}
                            <div class="skill-form row align-items-center mb-2">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.name }}
                                    </p>
                                    {% if form.name.errors %}
                                        <div class="text-danger">{{ form.name.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Education Section -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0">
                            Education 
                            <small class="text-danger ms-2">(Optional)</small>
                            <br>
                            <small class="text-danger fw-bold">"Only 1 education can be added or updated at a time. You can add education skill during your next update."</small>
                        </label>
                    </div>
                    <div id="education-container">
                        {{ education_formset.management_form }}
                        {% for form in education_formset %}
                            <div class="education-form row mb-3">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.degree }}
                                        {{ form.institution }}
                                        {{ form.graduation_year }}
                                    </p>
                                    {% if form.degree.errors %}
                                        <div class="text-danger">{{ form.degree.errors }}</div>
                                    {% endif %}
                                    {% if form.institution.errors %}
                                        <div class="text-danger">{{ form.institution.errors }}</div>
                                    {% endif %}
                                    {% if form.graduation_year.errors %}
                                        <div class="text-danger">{{ form.graduation_year.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Experience Section -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0">
                            Experience 
                            <br>
                            <small class="text-danger fw-bold">"Only 1 experience can be added or updated at a time. You can add another experience during your next update."</small>
                        </label>
                    </div>
                    <div id="experience-container">
                        {{ experience_formset.management_form }}
                        {% for form in experience_formset %}
                            <div class="experience-form row mb-3">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.title }}
                                        {{ form.company}}
                                        {{ form.start_date }}
                                        {{ form.end_date }}
                                        {{ form.description }}
                                    </p>
                                    
                                    {% if form.title.errors %}
                                        <div class="text-danger">{{ form.title.errors }}</div>
                                    {% endif %}
                                    {% if form.company.errors %}
                                        <div class="text-danger">{{ form.company.errors }}</div>
                                    {% endif %}
                                    {% if form.start_date.errors %}
                                        <div class="text-danger">{{ form.start_date.errors }}</div>
                                    {% endif %}
                                    {% if form.end_date.errors %}
                                        <div class="text-danger">{{ form.end_date.errors }}</div>
                                    {% endif %}
                                    {% if form.description.errors %}
                                        <div class="text-danger">{{ form.description.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Certification Section -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0">
                            Certification 
                            <small class="text-danger ms-2">(Optional)</small>
                            <br>
                            <small class="text-danger fw-bold">"Only 1 certification can be added or updated at a time. You can add another certification during your next update."</small>
                        </label>
                    </div>
                    <div id="certification-container">
                        {{ certification_formset.management_form }}
                        {% for form in certification_formset %}
                            <div class="certification-form row mb-3">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.name }}
                                    </p>
                                    {% if form.name.errors %}
                                        <div class="text-danger">{{ form.name.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Project Section -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0">
                            Project 
                            <small class="text-danger ms-2">(Optional)</small>
                             <br>
                            <small class="text-danger fw-bold">"Only 1 project can be added or updated at a time. You can add another project during your next update."</small>
                        </label>
                    </div>
                    <div id="project-container">
                        {{ project_formset.management_form }}
                        {% for form in project_formset %}
                            <div class="project-form row mb-3">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.title }}
                                        {{ form.description}}
                                        {{ form.url }}
                                    </p>
                                    
                                    {% if form.title.errors %}
                                        <div class="text-danger">{{ form.title.errors }}</div>
                                    {% endif %}
                                    {% if form.description.errors %}
                                        <div class="text-danger">{{ form.description.errors }}</div>
                                    {% endif %}
                                    {% if form.url.errors %}
                                        <div class="text-danger">{{ form.url.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Social Links Section -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <label class="mb-0">
                            Social Links
                            <small class="text-danger ms-2">(Optional)</small>
                            <br>
                            <small class="text-danger fw-bold">"Only 1 social can be added or updated at a time. You can add another social during your next update."</small>
                        </label>
                    </div>
                    <div id="sociallink-container">
                        {{ sociallink_formset.management_form }}
                        {% for form in sociallink_formset %}
                            <div class="sociallink-form row mb-3">
                                <div class="col-md-10">
                                    <div class="d-none">
                                        {{ form.as_p }}
                                    </div> 
                                    <p>
                                        {{ form.platform }}
                                        {{ form.url}}
                                    </p>
                                    {% if form.platform.errors %}
                                        <div class="text-danger">{{ form.platform.errors }}</div>
                                    {% endif %}
                                    {% if form.url.errors %}
                                        <div class="text-danger">{{ form.url.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    {% if not forloop.first %}
                                        <div class="form-check">
                                            {{ form.DELETE }}
                                            <label class="form-check-label text-danger">Remove</label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <!-- Address -->
                <div class="row">
                    <h4 for="employerAddress" class="form-label mb-3">Address</h4>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Region *</label>
                        <select name="region" class="form-select form-select-md mb-2" id="region"></select>
                        {% render_field address_form.region class="form-control form-control-md" name="region_text" id="region-text" %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Province *</label>
                        <select name="province" class="form-select form-select-md mb-2" id="province"></select>
                        {% render_field address_form.province class="form-control form-control-md" name="province_text" id="province-text" %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">City / Municipality *</label>
                        <select name="city" class="form-select form-select-md mb-2" id="city"></select>
                        {% render_field address_form.city class="form-control form-control-md" name="city_text" id="city-text" %}
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Barangay *</label>
                        <select name="barangay" class="form-select form-select-md mb-2" id="barangay"></select>
                        {% render_field address_form.barangay class="form-control form-control-md" name="barangay_text" id="barangay-text" %}
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="street-text" class="form-label">Street (Optional)</label>
                        {% render_field address_form.street class="form-control form-control-md" id="street-text" %}
                    </div>
                </div>

                <hr>
                <!-- Submit Button -->
                <div class="mt-4">
                    <button type="submit" class="btn btn-secondary w-100 p-3">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}